<footer id="footer" class="clearfix">
  <% if (theme.footer) { %>
    <div class="footer">
      <%- markdown(theme.footer) %>
    </div>
    <br>
  <%}%>
  <% if (theme.social) { %>
    <div class="social-wrapper">
      <% (theme.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>"
            class="social <%- value.icon %> flat-btn"
            target="_blank"
            rel="external nofollow noopener noreferrer">
            
          </a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  <div><%- markdown(__('footer.license')) %></div>
  <div>
  <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
  <script>
      var now = new Date(); 
      function createtime() { 
          var grt= new Date("12/24/2019 17:38:00");//在此处修改你的建站时间，格式：月/日/年 时:分:秒
          now.setTime(now.getTime()+250); 
          days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
          hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
          if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
          mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
          seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
          snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
          document.getElementById("timeDate").innerHTML = "本站已小心翼翼运行 "+dnum+" 天 "; 
          document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
      } 
  setInterval("createtime()",250);
  </script>
  </div>
  <div>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    本站总访问量 <span id="busuanzi_value_site_pv"></span> 次&nbsp&nbsp&nbsp
    本站访客数<span id="busuanzi_value_site_uv"></span>人次
  </div>
  <div>

    <i class="fas fa-chart-area"></i>
    <span class="post-count">字数统计：<%= totalcount(site) %></span>
  </div>
  <div>
    <%- __('footer.use1') %>
    <a href="<%- theme.info1.docs %>" target="_blank" class="codename"><%- theme.info1.name %></a>
    <%- __('footer.theme1') %>
    <a href="<%- theme.info2.docs %>" target="_blank" class="codename"><%- theme.info2.name %></a>
    <%- __('footer.modified') %>
    <a href="<%- theme.info3.docs %>" target="_blank" class="codename"><%- theme.info3.name %></a>
    
    <!--<%- __('symbol.period') %>-->
  </div>
  <div>
    <%- __('footer.use') %>
    <a href="<%- theme.info.docs %>" target="_blank" class="codename"><%- theme.info.name %></a>
    <%- __('footer.theme') %>
    
    <!--<%- __('symbol.period') %>-->
  </div>
  

</footer>
<%- js('js/jquery') %>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
<script>setLoadingBarProgress(80);</script>

<!--<i class="fas fa-chart-area"></i>
<span class="post-count">字数统计：<%= totalcount(site) %></span>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>-->



<link rel="stylesheet" href="APlayer.min.css">
<div id="aplayer"></div>
<script src="APlayer.min.js"></script>

<!--const ap = new APlayer({
    container: document.getElementById('player'),
    fixed: true,
    audio: [{
        name: 'name',
        artist: 'artist',
        url: 'url.mp3',
        cover: 'cover.jpg',
    }]
});-->

            

  