<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%
  var showCover = false;
  if (theme.cover) {
    // 如果页面的Front-matter声明了cover，就取页面的值
    if (page.cover != undefined && page.cover != undefined) {
      showCover = page.cover;
    } else {
      // 否则，如果是首页，只有首页的第一页显示
      if (is_home()) {
        if (page.prev) {
          showCover = false;
        } else {
          showCover = true;
        }
      } else {
        showCover = true;
      }
    }
  }
  %>
  <%- partial('_partial/cover', {showCover: showCover}) %>
  <div class="l_body<%- showCover ? '' : ' nocover' %>">
    <div class='body-wrapper'>
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>

  
</body>
</html>

<!-- 页面点击小红心 -->
<script type="text/javascript" src="/js/love.js"></script> 

<!--单击显示文字-->
<script type="text/javascript" src="/js/click_show_text.js"></script>

<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
<script type="text/javascript" src="/js/fireworks.js"></script>

<!--浏览器搞笑标题-->
<script type="text/javascript" src="/js/FunnyTitle.js"></script>

<!--动态线条背景-->
<!--<script type="text/javascript"
color="100,100,100" opacity='0.7' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
</script> -->
<!--color：表示线条颜色，三个数字分别为(R,G,B)，默认：（0,0,0）-->
<!--opacity：表示线条透明度（0~1），默认：0.5-->
<!--count：表示线条的总数量，默认：150-->
<!--zIndex：表示背景的z-index属性，css属性用于控制所在层的位置，默认：-1-->

<!--人体时钟背景透明-->
<script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.js"></script>

<!--人体时钟背景白-->
<!--<script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.js"></script>-->

<!-- 雪花特效 -->
<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.js"></script>-->
<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>-->
<script type="text/javascript" src="\js\snow.js"></script>

<!-- 样式一（鼠标点击更换样式） -->
<!--<script src="https://g.joyinshare.com/hc/ribbon.min.js" type="text/javascript"></script>-->

<!-- 样式二（飘动的彩带） -->
<!--<script src="https://g.joyinshare.com/hc/piao.js" type="text/javascript"></script>-->

<!--地球仪-->
<!--<script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5bpxe07s7qg&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>-->



<!-- 音频播放 -->
<link rel="stylesheet" href="/dist/APlayer.min.css">
<div id="aplayer"></div>
<script type="text/javascript" src="/dist/APlayer.min.js"></script>
<script type="text/javascript" src="/dist/music.js"></script>